services:
  backend:
    build:
      context: .
    ports:
      - 3000:3000
    depends_on:
      - redis
    volumes:
      - ./logs:/app/logs
    restart: unless-stopped

  redis:
    image: redis:7.4-alpine
    ports:
      - 6379:6379


networks:
  app-network:
    driver: bridge


